{% extends "DebrilFeedIoBundle::base.html.twig" %}

{% block title -%}add a new item{% endblock %}

{% block main -%}
<h1>new item added to {{ feed.title }}</h1>
{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}

{% endblock %}
