{% extends '::base.html.twig' %}

{% block body -%}
<div class="top">
{% for flashMessage in app.session.flashbag.get('notice') %}
    <div class="flash-notice">
        {{ flashMessage }}
    </div>
{% endfor %}
</div>
<div class="main">
    {% block main %} {% endblock %}
</div>
{% endblock %}